html {
    font-size: 12px !important;
}

.theme-dark {
    // background: var(--color-base-00);
    // background: black;
    --background-primary: #101010;
    --text-normal: var(--color-base-70);
    --text-accent: var(--color-base-50);
    --link-color: var(--color-base-50);
    --link-color-hover: var(--color-base-80);
    --h1-color: var(--color-base-70);
    --border-color: var(--color-base-10);
}

main {
    top: 0px;
}

body {
    /***
    ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
 ***/

    header h1 {
        margin-top: 48px !important;
    }

    p,
    li {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 2rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.17rem !important;
    }

    h4 {
        font-size: 1rem !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: 0.83rem !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: 0.67rem !important;
        font-weight: bolder !important;
    }

    // main a {
    //     text-decoration-line: underline !important;
    // }
    .notelink.active-note a {
        color: var(--color-base-60);
    }

    .markdown-preview-view h1,
    .markdown-preview-view h2,
    .markdown-preview-view h3,
    .markdown-preview-view h4,
    .markdown-preview-view h5,
    .markdown-preview-view h6 {
        margin-block-start: 16px !important;
    }

    .markdown-rendered .internal-link {
        text-decoration-line: none;
    }

    /* navbar styles */
    .navbar {
        padding: 0px 36px 0px 36px;
        background-color: var(--background-primary);
    }

    /* left sidebar styles */
    .filetree-sidebar {
        padding: 0px 0px 16px 0px !important;
        width: 288px !important;
        border-right: 1px solid var(--border-color) !important;
        background-color: var(--background-primary);

        h1 {
            text-align: left !important;
            margin: 56px 8px 8px 24px;
            font-size: 2rem !important;
        }
    }

    .search-button {
        border: 1px solid var(--color-base-30) !important;
        border-radius: 6px !important;
        margin: 16px 16px 16px 16px !important;
        min-width: 232px !important;
        position: relative !important;
    }

    .search-icon {
        position: absolute;
        left: 8px !important;

        .lucide-search {
            width: 16px;
            height: 16px;
        }
    }

    .search-text {
        position: absolute;
        left: 32px;
        font-size: 1rem;
    }

    .search-keys {
        padding: 2px 2px 0 2px !important;
    }

    .foldername-wrapper {
        margin: -2px 0px -2px 0px;
    }

    .foldername {
        font-size: 1rem !important;
    }

    .filename {
        font-size: 1rem !important;
    }

    .notelink {
        margin: -4px 0px -4px 0px;
    }

    .notelink.active-note {
        transform: none;
    }

    .lucide-sticky-note {
        display: none;
    }

    /* content area styles */
    .content {
        max-width: 1400px !important;
        margin-top: 96px !important;
        margin-right: 0px !important;
        @media only screen and (min-width: 1400px) {
            max-width: 724px !important;
            margin-left: 300px;
            margin-top: 0px !important;
        }
    }

    /* right sidebar styles */
    .sidebar {
        // height: 100% !important;
        // border-left: 1px solid var(--color-base-30);
        // max-width: 100%;
        @media only screen and (min-width: 1400px) {
            width: 286px;
        }

        /* graph */
        #graph-component {
            width: 264px !important;
            min-height: 264px !important;
        }

        .graph {
            width: 264px !important;
            min-height: 264px !important;

            #link-graph {
                width: 264px !important;
                height: 264px !important;
                background-color: var(--background-primary);
                border: 1px solid var(--border-color);
                border-radius: 5px !important;
            }
        }

        .graph-fs {
            width: 45% !important;
            min-width: 40% !important;
            height: 85% !important;
            background-color: var(--background-primary);
            border: 1px solid var(--border-color);

            #link-graph {
                border: 0px;
                border-radius: 0px !important;
                width: 100% !important;
                height: 100% !important;
            }
        }

        #full-graph {
            background-color: var(--background-primary);
            border: 1px solid var(--border-color);
        }
    }

    .graph-title {
        display: none;
    }

    #graph-controls {
        margin: 8px 0px 0px 4px;
        font-size: 1.2rem;
    }

    #depth-display {
        display: none;
    }

    /* table of contents */
    .toc {
        overflow-y: initial;
        height: 100%;
        background: none;
        padding: 10px 0px 0px 0px;
    }

    .toc-container {
        overflow-y: initial;
        border-left: none;

        ol {
            margin-top: 0px;
            padding: 0px 0px 8px 8px;
            border-left: 1px solid var(--color-base-00);
        }
        li::before {
            content: "" !important;
        }
    }

    .lucide-link {
        display: none;
    }

    .backlinks {
        display: none;
        background-color: solid var(--color-base-30);

        .backlink-title {
            font-size: 1.2rem !important;
        }
    }

    /* borrowed from https://forum.obsidian.md/t/my-zotero-annotation-template-that-works/51662 */
    .customZot-Yellow {
        background-color: rgba(255, 204, 0, 0.5) !important;
        color: white;
    }

    .customZot-Red {
        background-color: rgba(255, 102, 102, 0.5) !important;
        color: white;
    }

    .customZot-Green {
        background-color: rgba(0, 255, 47, 0.5) !important;
        color: white;
    }

    .customZot-Blue {
        background-color: rgba(46, 168, 229, 0.5) !important;
        color: white;
    }

    .customZot-Purple {
        background-color: purple !important;
        color: white;
    }

    .customZot-Magenta {
        background-color: rgba(229, 110, 238, 0.5) !important;
        color: white;
    }

    .customZot-Orange {
        background-color: rgba(241, 152, 55, 0.5) !important;
        color: white;
    }

    .customZot-Gray {
        background-color: rgba(170, 170, 170, 0.5) !important;
        color: white;
    }

    .callout[data-callout="background-literature"] {
        background-color: rgba(255, 204, 0, 0.1);
        --callout-color: 241, 152, 55;
        --callout-icon: lucide-album;
    }

    .callout[data-callout="research-questions"] {
        background-color: rgba(170, 170, 170, 0.1);
        --callout-color: 170, 170, 170;
        --callout-icon: lucide-help-circle;
    }

    .callout[data-callout="methods"] {
        background-color: rgba(0, 255, 47, 0.1);
        --callout-color: 0, 255, 47;
        --callout-icon: lucide-flask-conical;
    }

    .callout[data-callout="results"] {
        background-color: rgba(255, 204, 0, 0.1);
        --callout-color: 255, 204, 0;
        --callout-icon: lucide-file-text;
    }

    .callout[data-callout="key-conclusion"] {
        background-color: rgba(46, 168, 229, 0.1);
        --callout-color: 46, 168, 229;
        --callout-icon: lucide-star;
    }

    .callout[data-callout="future-work"] {
        background-color: rgba(229, 110, 238, 0.1);
        --callout-color: 229, 110, 238, 0.5;
        --callout-icon: lucide-hourglass;
    }

    .callout[data-callout="disagreement"] {
        background-color: rgba(255, 102, 102, 0.1);
        --callout-color: 255, 102, 102, 0.5;
        --callout-icon: lucide-x-circle;
    }
}
