html {
    font-size: 12px !important;
}

body {
    /***
    ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
 ***/
    position: relative;

    p,
    li {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 2rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1.17rem !important;
    }

    h4 {
        font-size: 1rem !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: 0.83rem !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: 0.67rem !important;
        font-weight: bolder !important;
    }

    .markdown-preview-view h1,
    .markdown-preview-view h2,
    .markdown-preview-view h3,
    .markdown-preview-view h4,
    .markdown-preview-view h5,
    .markdown-preview-view h6 {
        margin-block-start: 16px !important;
    }

    /* left sidebar styles */
    .filetree-sidebar {
        padding: 0px 0px 16px 0px !important;
        width: 264px !important;

        h1 {
            text-align: left !important;
            margin: 56px 8px 8px 24px;
            font-size: 2rem !important;
        }
    }

    .search-button {
        border-radius: 6px !important;
        margin: 16px 16px 16px 16px !important;
        min-width: 232px !important;
        position: relative !important;
    }

    .search-icon {
        position: absolute;
        left: 8px !important;

        .lucide-search {
            width: 16px;
            height: 16px;
        }
    }

    .search-text {
        position: absolute;
        left: 32px;
        font-size: 1rem;
    }

    .search-keys {
        padding: 2px 2px 0 2px !important;
    }

    .foldername-wrapper {
        margin: -2px 0px -2px 0px;
    }

    .foldername {
        font-size: 1rem !important;
    }

    .filename {
        font-size: 1rem !important;
    }

    .notelink {
        margin: -4px 0px -4px 0px;
    }

    .lucide-sticky-note {
        // width: 12px;
        // height: 12px;
        display: none;
    }

    /* content area styles */
    .content {
        max-width: 800px !important;
        margin-top: 64px !important;
        @media only screen and (min-width: 1400px) {
            margin-left: 300px;
            margin-top: 0px !important;
        }
    }

    /* right sidebar styles */
    .sidebar {
        top: 56px !important;
        @media only screen and (min-width: 1400px) {
            width: 286px;
        }

        #graph-component {
            width: 264px !important;
            min-height: 264px !important;
        }

        .graph {
            width: 264px !important;
            min-height: 264px !important;

            #link-graph {
                border: 1px solid var(--text-accent);
                border-radius: 5px !important;
                width: 264px !important;
                height: 264px !important;
            }
        }

        .graph-fs {
            width: 45% !important;
            height: 75% !important;

            #link-graph {
                border: 0px;
                border-radius: 0px !important;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .graph-title {
        display: none;
    }

    #graph-controls {
        margin: 8px 0px 0px 4px;
        font-size: 1.2rem;
    }

    #depth-display {
        display: none;
    }

    .toc-container {
        ol {
            margin-top: 0px;
            padding: 0px 8px 8px 8px;
        }
        li::before {
            content: "" !important;
        }
    }

    .lucide-link {
        display: none;
    }

    .backlinks {
        .backlink-title {
            font-size: 1.2rem !important;
        }
    }

    /* borrowed from https://forum.obsidian.md/t/my-zotero-annotation-template-that-works/51662 */
    .customZot-Yellow {
        background-color: rgba(255, 204, 0, 0.5) !important;
        color: white;
    }

    .customZot-Red {
        background-color: rgba(255, 102, 102, 0.5) !important;
        color: white;
    }

    .customZot-Green {
        background-color: rgba(0, 255, 47, 0.5) !important;
        color: white;
    }

    .customZot-Blue {
        background-color: rgba(46, 168, 229, 0.5) !important;
        color: white;
    }

    .customZot-Purple {
        background-color: purple !important;
        color: white;
    }

    .customZot-Magenta {
        background-color: rgba(229, 110, 238, 0.5) !important;
        color: white;
    }

    .customZot-Orange {
        background-color: rgba(241, 152, 55, 0.5) !important;
        color: white;
    }

    .customZot-Gray {
        background-color: rgba(170, 170, 170, 0.5) !important;
        color: white;
    }
}
